<section class="container" style="margin-top:12%;">
	<div class="col-md-4 col-md-offset-4">
		<p>
			<h4>Login</h4>
		</p>
		<form class="form text-right">
			<input class="form-control" type="text" ng-model="$login.username" placeholder="E-mail"><br>
			<input class="form-control" type="password" ng-model="$login.password" placeholder="Password"><br>
			<button class="btn btn-default" type="button" ng-click="$login.userlogin()">Login</button>
		</form>
	</div>
</section>