<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <ul style="border-right: 1px solid #ccc;">
        <li><a ui-sref="index.home.homeAbout" ui-sref-active="active">Home</a></li>
        <li><a ui-sref="index.dashboard">Dashboard</a></li>
        <li><a ui-sref="index.product.productList">Product</a></li>
        <li><br></li>
        <li><a ui-sref="login">Login</a></li>
      </ul>
    </div>
    <div class="col-xs-10">
      <ui-view></ui-view>
    </div>
  </div>
</div>
