<div class="btn-group">
	<a class="btn btn-default" ui-sref-active="active" ui-sref="index.home.homeAbout">About</a>
	<a class="btn btn-default" ui-sref-active="active" ui-sref="index.home.homeProfile">Profile</a>
	<a class="btn btn-default" ui-sref-active="active" ui-sref="index.home.homeMsg">Messages</a>
</div>
<hr>
<ui-view></ui-view>
